ion-header{
    padding: 0;
}
ion-title{
    color: #FFFF;
    background-color: #386641;
    margin: 0;
}
#Header_logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px; /* Adjust the margin as needed */
    height: 34px;
}
  
ion-toolbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
ion-button{
    --background: #F75555;
    --background-hover: #ef8989 !important;
    --background-activated: #ef8989;
    --background-focused: #ef8989;
    width: 92%;
    margin-left: 15px;
}
#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}
  
#Farm_details {
    flex: 1;
    font-weight: bold;
    font-size: 20px;
}
  
#edit_button {
    height: 30px;
    width: 25%;
    --background: #A7C957;
    --background-hover: #386641!important;
    --background-activated: #386641;
    --background-focused: #386641;
}
.Profile_Container{
    padding: 3%;
    margin: 15px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
#Profile_name{
    margin-right: 13%;
    display: flex;
    flex-direction: column;
    font-family:'Open Sans', Arial, sans-serif;
}
.Profile_details{
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}
#Profile_pic{
    width: 65px;
    height: 65px;
}
#name{
    font-weight: bold;
}
#map{
    height: 350px;
}
  
  