ion-title{
    color: #FFFF;
    background-color: #386641;
    margin: 0;
}
#Header_logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px; /* Adjust the margin as needed */
    height: 34px;
  }
  
ion-toolbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
ion-button{
    --background: #F75555;
    --background-hover: #ef8989 !important;
    --background-activated: #ef8989;
    --background-focused: #ef8989;
    width: 92%;
    margin-left: 15px;
}
#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
#Farm_details {
    flex: 1;
    font-weight: bold;
    font-size: 20px;
}
  
#edit_button {
    height: 30px;
    width: 25%;
}
#profile_card{
    padding: 0%;
}
  
  
  