<ion-header>
  <ion-toolbar>
    <ion-title size="medium"><img src="/assets/Header_logo.png" alt="Pig" id="Header_logo">Farm Management</ion-title>
</ion-toolbar>   
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar></ion-searchbar>
  <ion-item>
    Pig ID
    <ion-icon name="ellipsis-vertical" aria-hidden="true" class="three_dots" ></ion-icon>
  </ion-item>
  <ion-item>
    Pig ID
    <ion-icon name="ellipsis-vertical" aria-hidden="true" class="three_dots" ></ion-icon>
  </ion-item>
  <ion-item>
    Pig ID
    <ion-icon name="ellipsis-vertical" aria-hidden="true" class="three_dots" ></ion-icon>
  </ion-item>
  <ion-item>
    Pig ID
    <ion-icon name="ellipsis-vertical" aria-hidden="true" class="three_dots" ></ion-icon>
  </ion-item>
  <ion-item>
    Pig ID
    <ion-icon name="ellipsis-vertical" aria-hidden="true" class="three_dots" ></ion-icon>
  </ion-item>
  <ion-item>
    Pig ID
    <ion-icon name="ellipsis-vertical" aria-hidden="true" class="three_dots" ></ion-icon>
  </ion-item>
  <ion-item>
    Pig ID
    <ion-icon name="ellipsis-vertical" aria-hidden="true" class="three_dots" ></ion-icon>
  </ion-item>
  <ion-item>
    Pig ID
    <ion-icon name="ellipsis-vertical" aria-hidden="true" class="three_dots" ></ion-icon>
  </ion-item>
  <ion-item>
    Pig ID
    <ion-icon name="ellipsis-vertical" aria-hidden="true" class="three_dots" ></ion-icon>
  </ion-item>
  <ion-item>
    Pig ID
    <ion-icon name="ellipsis-vertical" aria-hidden="true" class="three_dots" ></ion-icon>
  </ion-item>
  <ion-item>
    Pig ID
    <ion-icon name="ellipsis-vertical" aria-hidden="true" class="three_dots" ></ion-icon>
  </ion-item>
  <ion-item>
    Pig ID
    <ion-icon name="ellipsis-vertical" aria-hidden="true" class="three_dots" ></ion-icon>
  </ion-item>
  <ion-item>
    Pig ID
    <ion-icon name="ellipsis-vertical" aria-hidden="true" class="three_dots" ></ion-icon>
  </ion-item>
  <ion-item>
    Pig ID
    <ion-icon name="ellipsis-vertical" aria-hidden="true" class="three_dots" ></ion-icon>
  </ion-item>
  <ion-item>
    Pig ID
    <ion-icon name="ellipsis-vertical" aria-hidden="true" class="three_dots" ></ion-icon>
  </ion-item>
</ion-content>
