ion-header{
    padding: 0;
}
ion-title{
    color: #FFFF;
    background-color: #386641;
    margin: 0;
}
#Header_logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px; /* Adjust the margin as needed */
    height: 34px;
  }
  
ion-toolbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
ion-item{
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 12px;
    border: 2px solid #659D60;
    padding: 0;
}
.three_dots{
    margin-left: 77%;
    margin-right: 0;
}