<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="medium">Farm Management</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card id="weather_card">
    <ion-card-header>
      <ion-card-title><ion-icon name="ellipse" aria-hidden="true"></ion-icon></ion-card-title>
      <ion-card-subtitle>Manila</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      45% chance of rain in the afternoon
    </ion-card-content>
  </ion-card>
  <ion-card id="sow_card">
    <ion-card-header>
      <ion-card-title id="sow-card_title">6</ion-card-title>
    </ion-card-header>
  
    <ion-card-content id="sow_card_content">
      <ion-icon name="ellipse" aria-hidden="true"></ion-icon>Sow Pigs
    </ion-card-content>
  </ion-card>
  <ion-card id="pig_card">
    <ion-card-header>
      <ion-card-title id="pig-card_title">24</ion-card-title>
    </ion-card-header>
  
    <ion-card-content id="pig_card_content">
      <ion-icon name="ellipse" aria-hidden="true"></ion-icon>Sow Pigs
    </ion-card-content>
  </ion-card>
  <h6>To Do</h6>
  <ion-item>
    <ion-checkbox justify="space-between">Task Name</ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-checkbox justify="space-between">Task Name</ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-checkbox justify="space-between">Task Name</ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-checkbox justify="space-between">Task Name</ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-checkbox justify="space-between">Task Name</ion-checkbox>
  </ion-item>
</ion-content>