ion-header{
    padding: 0;
}
ion-title{
    color: #FFFF;
    background-color: #386641;
    margin: 0;
}
#Header_logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px; /* Adjust the margin as needed */
    height: 34px;
  }
  
ion-toolbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
ion-datetime{
    background-color: #FFFF;

}
.todo_list{
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 12px;
    border: 2px solid #659D60;
}
ion-checkbox {
    --size: 24px;
    --checkbox-background-checked: #659D60;
}
  
ion-checkbox::part(container) {
    border-radius: 15px;
    border: 2px solid #659D60;
}
#todo{
    margin-left: 20%;
    background-color: #FFFF;
    font-size: 20px;
    font-weight: bold;
    color: #676967;
}
#todo:focus{
    color: #659D60;
}
#done{
    margin-left: 30%;
    background-color: #FFFF;
    font-size: 20px;
    font-weight: bold;
    color: #676967;
}
#done:focus{
    color: #659D60;
}
#calendar_container{
    margin:0px;
    margin-bottom: 15px;
}
#sched_add_button{
    --background: #F75555;
    --background-hover: #ef8989 !important;
    --background-activated: #ef8989;
    --background-focused: #ef8989;
    border-radius: 20px;
    width: 78px;
    height: 36px;
    font-weight: bold;
    opacity: 80%;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #659D60;
    z-index: 9999;
  }
  
  .overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFF;
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 80%;
    z-index: 10000;
    border: 2px solid black; 
  }
  
  #closeButton {
    width: 100%;
    height: 40px;
    background-color: #F75555;
    border: none;
    color: white;
    border-radius: 0px 0px 18px 18px;
    font-weight: bold;
  }
  
  .task-input {
    margin-bottom: 0px;
    background-color: #FFFF;
    width: 90%;
    text-align: left;
    padding-left: 10px;
    border-radius: 20px;
    border: 2px solid #386641;
  }
  
  .datetime-input {
    margin-top: 10px;
    margin-bottom: 0;
  }
  
  .add-button {
    margin-top: auto; 
    width: 100%;
    height: 40px;
    background: #A7C957;
    color: #FFFF;
    font-weight: bold;
    font-size: 24px;
  }
.add-button:active{
        background: #386641;
}
  
