<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="medium">Farm Management</ion-title>
  </ion-toolbar>
  <ion-datetime></ion-datetime>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-item>
    To Do
  </ion-item>
  <ion-item>
    <ion-checkbox justify="space-between">Task Name</ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-checkbox justify="space-between">Task Name</ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-checkbox justify="space-between">Task Name</ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-checkbox justify="space-between">Task Name</ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-checkbox justify="space-between">Task Name</ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-checkbox justify="space-between">Task Name</ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-checkbox justify="space-between">Task Name</ion-checkbox>
  </ion-item>
</ion-content>
