<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="medium"><img src="/assets/Header_logo.png" alt="Pig" id="Header_logo">Farm Management</ion-title>
</ion-toolbar>
  <div id="calendar">
  <ion-datetime></ion-datetime>
  </div>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-item>
    To Do
  </ion-item>
  <ion-item>
    <ion-checkbox justify="space-between">Task Name</ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-checkbox justify="space-between">Task Name</ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-checkbox justify="space-between">Task Name</ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-checkbox justify="space-between">Task Name</ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-checkbox justify="space-between">Task Name</ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-checkbox justify="space-between">Task Name</ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-checkbox justify="space-between">Task Name</ion-checkbox>
  </ion-item>
</ion-content>
